/* body {
  background-color: rgb(199, 214, 227);
}
h1 {
  text-align: center;
}
form {
  background-color: rgb(138, 24, 24);
  align-content: center;
  border-style: solid;
  border-radius: 15px;
  width: 51%;
  margin-bottom: 20px;
  margin-left: 20%;
  border-color: bisque;
  border-width: 5px;
  padding: 20px;
  text-align: center;
}
label {
  font-size: 25px;
}
input {
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 7px;
  height: 30px;
}
button {
  background-color: silver;
  font-size: 15px;
  width: 100px;
}
.github-profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.github-profile {
  background-color: rgb(234, 234, 234);
  border-style: inset;
  border-width: 4px;
  border-color: rgb(104, 147, 3);
  border-radius: 2px;
  margin-right: 5px;
  text-align: center;
  padding-bottom: 10px;
}
.profile-photo {
  margin: 20px;
  width: 100px;
}
.name {
  font-size: 18px;
  text-align: center;
}
.company {
  font-size: 18px;
  text-align: center;
} */
